:root {
  --color-blue: #4a55a2;
  --color-blue-light: #7895cb;
  --color-lightblue: #a0bfe0;
  --color-lightblue-light: #c5dff8;
  --color-white: #ffffff;
}

.sidebar {
  background-color: var(--color-blue);
}

.menu-bar .nav-item a {
  color: var(--color-lightblue-light);
  text-decoration: none;
}

.menu-bar .nav-item {
  padding: 16px;
  border-radius: 8px;
}

.menu-bar .nav-item:hover {
  background-color: var(--color-blue-light);
  /* color: var(--color-blue); */
}

.main-content-header {
  background-color: var(--color-lightblue-light);
  /* height: 7.5%; */
}
.main-content-header h3 {
  color: #4a55a2;
  /* font-weight: bold; */
  padding: 1rem;
  /* text-align: center; */
}
